.button {
    background-color: rgb(94, 3, 97);
    color: #fff;
    font-size: 1.2rem;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.button:hover {
    background-color: rgb(132, 25, 136);
    cursor: pointer;

}